// Media mixins

@mixin tx-media($name, $pixels: false) {
    @media #{txf-media($name, $pixels)} {
  
      @content;
  
    }
  }
  
  // Media Functions
  
  
  @function txf-media($name, $pixels: false) {
    $finalName: if($pixels, #{$name + unquote('-pixels')}, $name);
    @return #{map-get($mediaQueries, $finalName)};
  }
  
  @function txf-breakpoint($point, $pixels: false) {
    @if ($pixels) {
      @return map-get($breakpoints, $point);
    } @else {
      @return #{(map-get($breakpoints, $point) / $fontSize)}em;
    }
  }
  
  @function txf-breakpointQuery($min: null, $max: null, $type: screen, $pixels: false, $orientation: false) {
    $breakpoint: only $type;
    @if ($min) {
      $breakpoint: $breakpoint unquote('and') (min-width: txf-breakpoint($min, $pixels));
    }
    @if ($max) {
      $breakpoint: $breakpoint unquote('and') (max-width: txf-breakpoint($max, $pixels));
    }
    @if ($orientation) {
      $breakpoint: $breakpoint unquote('and') (orientation: $orientation);
    }
    @return $breakpoint;
  }
  
  @function txf-deviceBreakpoint($name) {
    @return map-get($breakpointQueries, $name);
  }