//WHITE
$white: #fff;
$white-dark: #F9F9F9;
$white-darker: #f0f0f0;


//BLACK
$black-lighter: #232129;
$black-dark: #222;

//GRAY
$gray: #555;
$gray-dark: #52505F;
$gray-lighter: #bdbcbf;

//RED
$red-white: #EF3B23;
$red: #E00000;
